# The ZombieAA model is Studio New Punch's "Zombie Pack V1" marketplace
# asset (Epic content license): usable in products, not redistributable
# in source form. Never committed — see the README.
*
!.gitignore
